* {
    box-sizing: border-box;

    font-family: "Segoe UI", Arial, sans-serif;

    margin: 0;
    padding: 0;
}


/* COMMON Styles */

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

ul {
    list-style-type: none;
}

/* END COMMON Styles */


/* NAVIGATION Styles*/

nav {
    background-color: white;

    width: 100%;
    height: 9vh;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    align-items: center;

    box-shadow: 2px 2px 2px gray;

    z-index: 2;
}

nav a {
    padding: 7px;
}

nav a:hover {
    background-color: lightgray;
}

/* NAVIGATION LEFT SIDE Styles */

.nav-left {
    /* border: 1px solid black; */
    text-align: center;

    margin-left: 30px;
}

.nav-brand {
    font-weight: 500;
}

.brand-link {
    font-size: 17px;
    letter-spacing: 3px;
}

/* END NAVIGATION LEFT SIDE Styles */


/* NAVIGATION RIGHT SIDE Styles */

.nav-right {
    margin-right: 30px;
    word-spacing: 10px;
}

.nav-list {
    display: flex;
    justify-content: right;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    font-size: 17px;
    letter-spacing: 3px;
}

/* END NAVIGATION RIGHT SIDE Styles */



/* END NAVIGATION Styles*/


/* HEADER CONTAINER Styles */

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-image: url("../assets/skyscraper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.header-content h2 {
    color: white;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 7px;
}

.brand {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    font-size: 45px;
    font-weight: bold;

    text-align: center;
    /* width: 10%; */

    margin-right: 10px;
    padding: 6px 15px;
}

/* END HEADER CONTAINER Styles */


/* PROJECTS Section Styles */

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    min-width: 100%;
    /* height: 100vh; */

    padding-top: 30px;
}

.project-header {
    width: 96%;
}

.project-header h2 {
    font-weight: normal;

    padding-top: 50px;
    padding-bottom: 50px;
}

.projects-summary {
    width: 96%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.project-img {
    width: 24%;
    margin-bottom: 10px;
}

.project-img img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    z-index: 0;

    width: 100%;
}

.project-name {
    position: absolute;
    z-index: 1;

    background-color: black;
    color: white;

    padding: 8px;
}


/* END PROJECTS Section Styles */


/* ABOUT Area Styles */

#about {
    width: 100%;

    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.about-detail {
    width: 96%;
}

.about-summary h2 {
    font-weight: normal;

    padding-top: 40px;
    padding-bottom: 40px;
}

.about-summary p {
    padding-bottom: 40px;
    text-align: left;
}

.team {
    display: flex;
    justify-content: space-between;
}


.team-member img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 94%;

    filter: grayscale(80%);
}

.member-detail {
    width: 94%;
}

.member-detail h2,
h4 {
    font-weight: normal;

    margin-bottom: 10px;
}

.member-detail a {
    display: block;

    text-align: center;
    font-size: 17px;

    margin-top: 10px;
    padding: 7px;
}

.member-detail a:hover {
    background-color: lightgray;
}


/* END ABOUT Area Styles */


/* CONTACT Area Styles */

#contact {
    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.contact-container {
    width: 96%;

    margin-top: 60px;
}

.contact-header h2 {
    font-weight: normal;
}

.contact-header p {
    font-size: 17px;
    margin-top: 25px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 20px;
    padding-left: 5px;

    width: 100%;
    height: 40px;

    border: 1px solid rgb(209, 208, 208);
}

.btn {
    background-color: black;
    color: white;
    border: none;

    margin-top: 20px;
    padding: 10px;

    width: 10%;

    cursor: pointer;
}

.btn:hover {
    background-color: lightgray;
    color: black !important;
}


.btn a:visited {
    color: white;
}


/* END CONTACT Area Styles */


/* FOOTER Styles */

#footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-img {
    width: 96%;
    margin-top: 60px;
}

.footer-img img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
}

.footer-content {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;

    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.footer-content a {
    margin-left: 5px;
    text-decoration: underline;
    color: white;
}

.footer-content a:hover {
    color: green !important;
}

.footer-content a:visited {
    color: white;
}


/* END FOOTER Styles */